
h2 {
  margin-bottom: 0.5rem;
  color: #154ea3;
  font-weight: bold;
}

.form-label {
  font-weight: 500;
  margin-bottom: 8px;
}

.form-control:focus {
  border-color: #154ea3;
  box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
}

.text-danger {
  color: #dc3545 !important;
}

.form-text {
  font-size: 0.875rem;
  margin-top: 4px;
}

#registro {
  margin-top: 5px;
  padding-top: 5px;
}


